.navList {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.navList a {
    text-decoration: none;
    color: inherit;
}

.navList a:hover {
    text-decoration: underline;
}

